<h2><%= location.name %></h2>
<p><%= location.address %></p>

<audio controls>
  <source src= <%= location.audio %> >
</audio>


<%# <div class="scroll">

</div>%>

<img src=<%= location.text %> style="width:200px;height:200px;" >

<video controls class="video">
  <source src=<%= location.video %> type="video/mp4">
  Your browser does not support the video tag.
</video>
