<h1>Editing Location</h1>
<div class="input-field">
<% @locations.each do |location| %>
  <%= form_for location do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <br>
    <%= f.label :subject %>
    <%= f.text_field :subject %>
    <br>
    <%= f.label :text %>
    <%= f.file_field :text %>
    <br>
    <%= f.label :audio %>
    <%= f.file_field :audio %>
    <br>
    <%= f.label :video %>
    <%= f.file_field :video %>
    <br>
    <%= f.submit %>
    <br>
  <% end %>
<% end %>

</div>
  <%= link_to 'Show', @location %> |
  <%= link_to 'Back', locations_path %>
