<h1 class="input-fieldh1" >General Manager</h1>
<div class="input-field">
<% @locations.each do |location| %>
  <%= form_for location do |f| %>
    <h2 class="input-field"><%= location.name %></h2>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <div class="content-separator3"></div>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <div class="content-separator3"></div>
    <%= f.label :subject %>
    <%= f.text_field :subject %>
    <div class="content-separator3"></div>
    <%= f.label :text %>
    <%= f.file_field :text %>
    <div class="content-separator3"></div>
    <%= f.label :audio %>
    <%= f.file_field :audio %>
    <div class="content-separator3"></div>
    <%= f.label :video %>
    <%= f.file_field :video %>
    <div class="content-separator3"></div>
    <%= f.submit %>
  <% end %>
  <div class="content-separator"></div>
<% end %>

<button id="button1"> <%= link_to "Create New Location", "/locations/new"%></button>

<div class="content-separator3"></div>

<div id="back-button-inpu">
  <%= link_to 'Back', locations_path %>
</div>
