
<label data-backdrop="static">
		<input type="checkbox">
		<div class="toggle">
			<span class="top_line common"></span>
			<span class="middle_line common"></span>
			<span class="bottom_line common"></span>
		</div>

		<div class="slide">
			<h1>MENU</h1>
			<ul>
        <li><button id="buttonmenu"><i class="fa-brands fa-buffer"></i>subjects</button></li>
				<li><a href="#"><i class="fa-solid fa-shuffle"></i>random</a></li>
        <li><div id="menuhomediv"><i class="fa-solid fa-house"></i><%= link_to "home", '/locations', id: "homemenu"%></div></li>
        <div id="social">
          <a href="https://www.versosud.org/"><i class="fa-solid fa-globe"></i></a>
          <a href="https://www.instagram.com/_versosud_/"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.facebook.com/VersoSudEcosistemaCulturale/"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.youtube.com/channel/UCTAzPmZG5ROgTW-P-tPepeQ"><i class="fa-brands fa-youtube"></i></a>
        </div>

			</ul>
		</div>
<div id="map"
      data-controller="mapbox"
      data-mapbox-markers="<%= @markers.to_json %>"
      data-mapbox-way="<%= @way %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

</label>

<div id="myModal" >
  <div class="modal-top">
    <div id="popup-header">What you can do</div>
    <button id="closeBtn">&times;</button>
  </div>
  <div class="modal-body">
    <p>In this website you get a tour around Corato while seeing all the different street art instalations</p>
  </div>
</div>

<div id="menuModal" >
  <div class="modal-top">
    <div id="popup-header">Chose subject</div>
    <button id="closemenuBtn">&times;</button>
  </div>
  <div class="modal-body">
    <%= link_to "Nature", '/locations/4', class: "link-in-menupopup" %>
    <br>
    <%= link_to "Streetart", '/locations/new', class: "link-in-menupopup" %>
    <br>
  </div>
</div>
